/**
*  Name: Danhiel Vu
*  Date: 12/15/2021
*
*  This is the styles.css page for the greed dice HTML.
*/

@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

body {
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;
    font-family: 'Bakbak One';
    margin: 0;
    padding: 0;
    animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0}
    to   { opacity : 1}
}

#title, nav, #main, #score {
    display: flex;
    justify-content: center;
}

img, h1 {
    margin-top: auto;
    margin-bottom: auto;
}

img {
    max-width: 3em;
    height: 3em;
    padding-right: 10;
}

h1 {
    font-size: 3em;
}

#main, h1 {
    text-align: center;
}

nav {
    margin-bottom: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

nav, #roll {
    background-color: #282A35;
}

a, #roll, #points {
    font-size: 1.5em;
    color: #f1f1f1;
}

a {
    padding-left: 20px;
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover, #roll:hover {
    background-color: #13141a;
}

#main {
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 3%;
    padding: 10px;
    border-width: 5px;
    border-style: double;
    border-color: black;
}

#score {
    justify-content: space-around;
    padding-bottom: 25px;
}

#points {
    color: #282A35;
    border-bottom-style: solid;
    border-top-style: solid;
    border-radius: 20%;
}

#roll, #points {
    width: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    font-family: 'Bakbak One';
}